<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
<center><h1>Details of Item </h1></center>
<hr>
<br>
<a href="{% url 'food:index' %}">Home</a>
<ul>
    <li>{{item.item_name}}</li>
    <li>{{item.item_desc}}</li>
    <li>{{item.item_price}}</li>
</ul>
</body>

<p1>Delete this item : <a href="{% url 'food:delete' item.id %}"><button type="button"> Delete</button></a></p1><br>
<p1> Update this item: <a href="{% url 'food:update' item.id %}"><button type="button">Update</button></a></p1>
</html>